html {
    background: #007991;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #007991);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #007991);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    background: #007991;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #007991);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #007991);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Playfair Display', serif;
}

h2,
h1 {
    font-family: 'Open Sans', sans-serif;
}

#header {
    font-size: 3rem;
}

.book-list {
    margin-top: 50px;
    visibility: hidden;
}

#search-box {
    font-family: 'Open Sans', sans-serif;
}

#search {
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin-top: 20%;
}